*{
    background-color: lightseagreen;
}


.abc{
    color: brown;
}
.efg{
    color: blueviolet;
}
#first{
    color: chocolate;
}
li>a{
background-color: aliceblue;
}
p a{
    background-color:lightgray;
}
h2{
    background-color: teal;

}
h2+p{
    background-color: teal;
}
h3{
    background-color: slategray;
}
h3~p{
    background-color: slategrey;
}

