* {
    background-color: antiquewhite;
}

h1 {
    background-color: brown;
    color: whitesmoke;
}

h3 {
    background-color: #5A9982;
    color: #303302;

}

#p4 {
    color: rgb(205, 70, 90);
}

.first{
  background-color: lemonchiffon;
  border: 5px solid #7D661D;
  padding: 15px;
  margin-top: 20px;
  font-weight: bolder;
}
#p1{
    color: darkolivegreen;

}

#p2{
    color: #7D661D;
}
#p3{
    color: #5C2306;
}