.main {
    background-color: black;
    height: 200px;
    padding: 5px;
    display: flex;
    /* flex-direction: column; */
    
    justify-content: space-evenly;
    align-items: center;
    /* justify-content: center; */
    justify-content: center;
    /* justify-content: space-evenly; */

    /* flex-direction: column; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* justify-content: space-around;
    align-items: center; */
    

}

.one {
    background-color: antiquewhite;
    order: 1;
}

.two {
    background-color: aqua;
}

.three {
    background-color: brown;
}

.four {

    background-color: cadetblue;
}

.five {
    background-color: yellow;
}