.ab{
    text-decoration: line-through;
}
.cd{
    text-decoration:overline;
}
.ef{
    
    vertical-align:middle;
}
.gh{
    text-shadow: 1px 3px 1px #6666;
}
.mno{
    text-decoration: line-through;
    
}