ul.one{
    background-color: aqua;
    list-style-position: inside;
}

ul.two{
    background-color: brown;
    list-style-position: outside;
}

table{
    border: 1px solid black;
    padding: 5px;
    background-color: yellow;
   
}
td{
    border: 1px solid black;
    padding: 10px;

}
td:hover{
    background-color: coral;
    color: beige;
    transform: scale(1.2);
    transition: 1s;
}
tr.one{
    background-color: chocolate;
}
tr{
    background-color: chartreuse;

}
tr.two{
    background-color: tomato;
}


label {
    display: inline-block;
    width: 68px;
    text-align: left;
}

input {
    width: 200px;
    margin-top: 20px;
}

.email {
    background-image: url('https://png.pngtree.com/png-vector/20190927/ourmid/pngtree-email-icon-png-image_1757854.jpg');
    background-position: left;
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 20px;
    
}